@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@500&display=swap');


:root {
  --color-background-first: #f9f9f9;
  --color-background-second: #f5f8fa;
  --color-background-projects-hover: rgba(255, 255, 255, 0.75);


  --color-title: #2c3e50;
  --color-text: #54585e;


  --color-light: #dddddd;
  --color-dark: #404449;

  --color-form-input: #EBEDEE;
  --color-white: #ffffff;
  --color-primary: #6b00d7;
  --color-secondary: #0F0F11;
  --font-title: 'Rubik', sans-serif;
  --font-text: 'Lato', sans-serif;
  --border-input: 1px solid rgba(0, 0, 0, 0.125);
  --main-shadow: 0 6px 15px rgb(36 37 38 / 10%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-top: 5rem;
  font-family: var(--font-text);
  background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}

/* Utilities */

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--color-title);
}

img {
  max-width: 95%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 3.75rem;
  font-family: var(--font-title);
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.65em;
  margin: 0;
  color: var(--color-text);
}

.btn {
  display: inline-block;
  border: 0.125rem solid;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  margin-top: .5rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/* Navbar */

.navbar {
  background-color: var(--color-secondary);
  font-family: var(--font-title);
  padding: 1.25rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: var(--main-shadow);
}

.navbar-content {
  display: flex;
  flex-direction: column;
}

.navbar-head {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.navbar a, .navbar i {
  color: var(--color-white);
}

.navbar .search-btn {
  display: none;
}

.search-btn {
  border: 0.125rem solid;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.navbar .search i {
  cursor: pointer;
  font-size: 1.25rem;
  margin-right: 1rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.logo {
  font-size: 1.5rem;
}

.navigation {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile {
  display: flex;
  align-items: center;
}

.mobile-menu {
  border-left: 1px solid var(--color-dark);
  padding-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu-active {
  display: none;
}

.nav-item {
  padding: 0.5rem 0;
}

.nav-item:hover, .search i:hover, .mobile-menu i:hover {
  color: var(--color-primary);
}

/* Content */

main, section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.popular-games {
  justify-content: space-between;
  margin-top: 2rem;
  overflow-x: hidden;
}

.game-item {
  flex-basis: calc(50% - 1rem);
  flex-grow: 0;
  flex-shrink: 0;
  background-color: white;
  border-radius: 2rem;
  margin-right: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.game-image {
  margin: 0;
}

.game-image {
  position: relative;
}

.game-image img {
  max-width: 100%;
  border-radius: 2rem 2rem 0 0;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
}

.game-image figcaption {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: .85rem .85rem 0 0;
  background-color: rgba(107, 0, 215, .75);
  color: white;
  padding: .1rem .75rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.game-image figcaption.liked {
  background-color: rgba(76, 175, 80, .75);
}

.game-image figcaption i {
  color: #f3d31f;
  font-size: .75rem;
  position: relative;
  top: -2px;
}

.game-description {
  padding: 1rem;
}

.game-description div {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.pagination a {
  padding: .75rem 1.25rem;
  margin-left: 1rem;
  border: 2px solid var(--color-light);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.pagination a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.pagination a:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

/* Auth forms */

.card {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.card-color, .card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: var(--main-shadow);
}

.card-white {
  border-radius: 2rem 2rem 0 0;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
}

.card-white {
  flex-basis: calc(50%);
  background-color: var(--color-white);
}

.card-color {
  border-radius: 0 0 2rem 2rem;
  -webkit-border-radius: 0 0 2rem 2rem;
  -moz-border-radius: 0 0 2rem 2rem;
  -ms-border-radius: 0 0 2rem 2rem;
  -o-border-radius: 0 0 2rem 2rem;
}

.card-color {
  flex-basis: calc(50%);
  background-image: linear-gradient(90deg, var(--color-primary) 0%, #5a29e0 100%);
}

.card-color p, .card-color h2 {
  color: var(--color-white);
}

.card-color p {
  margin: .5rem 0 1.5rem 0;
}

/* Forms */

.form-50 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label,
form input {
  display: block;
}

form .form-item {
  width: 100%;
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.25rem;
  padding-left: .5rem;
  text-align: left;
}

form .btn {
  margin: 0;
}

form input:not(.btn),
form textarea {
  width: 100%;
  border: 0;
  color: var(--color-text);
  background-color: var(--color-form-input);
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  border: var(--border-input);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

span.or {
  color: var(--color-text);
  display: block;
  margin: .75rem;
}

/* Media queries */

@media (min-width: 620px) {
  .register .card {
    flex-direction: row;
  }

  .register .card-color,
  .login .card-white {
    border-radius: 0 2rem 2rem 0;
    -moz-border-radius: 0 2rem 2rem 0;
    -ms-border-radius: 0 2rem 2rem 0;
    -o-border-radius: 0 2rem 2rem 0;
    -webkit-border-radius: 0 2rem 2rem 0;
}

  .login .card {
    flex-direction: row-reverse;
  }

  .login .card-color,
  .register .card-white {
    border-radius: 2rem 0 0 2rem;
    -webkit-border-radius: 2rem 0 0 2rem;
    -moz-border-radius: 2rem 0 0 2rem;
    -ms-border-radius: 2rem 0 0 2rem;
    -o-border-radius: 2rem 0 0 2rem;
  }
}

@media (min-width: 768px) {
  .navbar-content {
    flex-direction: row;
  }

  .mobile-menu {
    display: none;
  }

  .navbar .search-btn {
    display: inline-block;
  }

  .search {
    position: relative;
  }

  .search i {
    color: var(--color-dark);
    right: 0;
    position: absolute;
    font-size: 1rem;
    padding: .55rem .75rem 0 0;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .navigation {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .nav-separator {
    border-right: 1px solid var(--color-dark);
    border-left: 1px solid var(--color-dark);
  }

  .nav-item {
    padding: 0 1rem;
  }

  .game-item {
    flex-basis: calc(25% - 1rem);
  }
}

@media (min-width: 860px) {
  .form-50{
    flex-direction: row;
  }
  .form-50 .form-item {
    flex-basis: calc(50% - .5rem);
  }
}